/*#main-menu li {
	font-size: 25px;
	font-weight: bold;
	font-family: Comic Sans MS;
	display: inline;
	margin-right: 5px;
	}
#main-menu a:hover {
	text-decoration: underline;
	}
	
	nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: 50px;
	font-variant:small-caps;
	width:100%;
	background-color:black;
	}
	
	ul#main-menu {
    margin: 0;
    padding: 0px;
}*/
.f-nav { 
z-index: 9999; 
position: fixed!important; 
left: 0; 
top: 0; 
width: 100%;
}